.photo-grid {
  margin: 0 auto 0 auto;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    margin: 0 auto 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: 90%;
    margin: 0 auto 0 auto;
    gap: 12px;
  }
}