.places {
  margin: 0 auto 0 auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  color: white;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    max-width: 720px;
    gap: 73px;
  }
}


@media screen and (max-width: 767px) {
  .places {
    max-width: 100%;
    gap: 50px;
  }
}