.lead__title {
  margin: 0 auto 32px auto;
  font-weight: 900;
  font-size: 96px;
  color: white;
  max-width: 720px;
  text-align: center;
  line-height: 100px;
}

@media screen and (max-width: 767px) {
  .lead__title {
    margin: 0 auto 16px auto;
    font-size: 40px;
    line-height: 44px;
  }
}