.cover {
  margin: 92px auto 92px auto;
  background-image: url(../../images/__background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  max-width: 1184px;
  min-height: 740px;
  z-index: 0;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin: 90px 0 88px 0;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 66px 0 64px 0;
    min-height: 200px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
  }
}